<div class="row">
  <nav>
    <ol class="breadcrumb">
      <%
        breadcrumbs = request.path.split("/").inject([]) { |breadcrumbs, part|
          # Ignore blank parts of the path (leading slash or double-slashes).
          next breadcrumbs if part.blank?

          last_path = breadcrumbs.last&.first || "/"
          breadcrumbs << [
            [last_path, part].join(last_path[-1] == "/" ? "" : "/"),
            part,
          ]

          next breadcrumbs
        }
      %>
      <% breadcrumbs.each_with_index do |(path, label), i| %>
        <% if i != breadcrumbs.size - 1 %>
          <li class="breadcrumb-item"><a href="<%= path %>"><%= label %></a></li>
        <% else %>
          <li class="breadcrumb-item active"><%= label %></li>
        <% end %>
      <% end %>
    </ol>
  </nav>
</div>