<div class="mb-2">
  <label class="form-label w-100">Route
    <select class="form-control" id="rawFormRoute">
      <% @_rrf_form_routes.each do |route| %>
        <% path = @route_props[:with_path_args].call(route[:route]) %>
        <option value="<%= route[:verb] %>:<%= path %>"><%= route[:verb] %> <%= route[:relative_path] %></option>
      <% end %>
    </select>
  </label>
</div>