<div class="row">
  <div>
    <%= render partial: "rest_framework/heading/actions" if @route_groups.present? %>
    <h1 style="margin: 0"><%= @heading_title || @title %></h1>
    <% if @description.present? %>
      <br><br><p style="display: inline-block; margin-bottom: 0"><%= @description %></p>
    <% end %>
  </div>
</div>
<hr/>
