<div style="max-width: 60em; margin: auto">
  <%= render partial: "rest_framework/form_routes" %>

  <div class="mb-2">
    <label class="form-label w-100">Media Type
      <select class="form-control" id="rawFormMediaType">
        <% ["application/json", "application/x-www-form-urlencoded", "multipart/form-data"].each do |t| %>
          <option value="<%= t %>"><%= t %></option>
        <% end %>
      </select>
    </label>
  </div>

  <div class="mb-2">
    <label class="form-label w-100">Content
      <textarea class="form-control" style="font-family: monospace" id="rawFormContent" rows="8" cols="60"></textarea>
    </label>
  </div>

  <button type="button" class="btn btn-primary" style="float: right" onclick="rrfSubmitRawForm(this)">Submit</button>
</div>
