---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$rf-red: #a31515;
$rf-darkred: #5f0c0c;

// header adjustments
h1,h2,h3,h4,h5,h6 { width: 100%; font-weight: normal; }
h1 { font-size: 2rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

// inline code (to align with highlight vs theme)
code {
  color: $rf-red;
  background-color: #eee;
  padding: .1em .2em;
  border: 1px solid #aaa;
  border-radius: .3em;
}
pre code {
  background-color: #eee !important;
}

// navbar
.navbar {
  .navbar-toggler {
    margin: .2em 0;
    padding: .2em .3em;
    border: none;
    .navbar-toggler-icon {
      height: 1.1em;
      width: 1.1em;
    }
  }
  .navbar-nav .nav-item .nav-link {
    padding: .5em .6em;

    &:hover { background-color: #262a2f; }
  }
}
.navbar .dropdown-menu {
  .dropdown-item {
    font-size: .9em;
    padding: .2em .8em;
    color: #900;

    &:hover { color: #800; }
  }
}

// anchors
a {
  color: $rf-red;
  &:hover { color: $rf-darkred; }
}

// headings (and heading links)
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.8rem;
  margin-bottom: 1.2rem;
  color: $rf-red;
  a {
    color: #eee;
    &:hover { text-decoration: none; }
  }
}

// headers table
.headers-table {
  padding: .5em 1em;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: .3em;
  font-size: .9em;

  & > ul > li { font-weight: bold; }
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-right: .6em;
    li { margin: .3em 0; }
    ul { padding-left: .8em; padding-right: 0; }
  }
  &:empty { display: none; }
}
