/********************************
 * START OF LIB/DOCS COMMON CSS *
 ********************************/

:root {
  --rrf-red: #900;
  --rrf-red-hover: #5f0c0c;
  --rrf-light-red: #db2525;
  --rrf-light-red-hover: #b80404;
}
#rrfAccentBar {
  background-color: var(--rrf-red);
  height: .3em;
}
header nav { background-color: black; }

/* Header adjustments. */
h1 { font-size: 2rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }
h1, h2, h3, h4, h5, h6 {
  color: var(--rrf-red);
}
html[data-bs-theme="dark"] h1,
html[data-bs-theme="dark"] h2,
html[data-bs-theme="dark"] h3,
html[data-bs-theme="dark"] h4,
html[data-bs-theme="dark"] h5,
html[data-bs-theme="dark"] h6 {
  color: var(--rrf-light-red);
}

/* Improve code and code blocks. */
pre code {
  display: block;
  overflow-x: auto;
}
code, .trix-content pre {
  padding: .5em !important;
  background-color: #eee !important;
  border: 1px solid #aaa;
  border-radius: 3px;
}
p code {
  padding: .1em .3em !important;
}
html[data-bs-theme="dark"] code, html[data-bs-theme="dark"] .trix-content pre {
  background-color: #2b2b2b !important;
}

/* Anchors */
a:not(.nav-link) {
  text-decoration: none;
  color: var(--rrf-red);
}
a:hover:not(.nav-link) {
  text-decoration: underline;
  color: var(--rrf-red-hover);
}
html[data-bs-theme="dark"] a:not(.nav-link) { color: var(--rrf-light-red); }
html[data-bs-theme="dark"] a:hover:not(.nav-link) { color: var(--rrf-light-red-hover); }

/******************************
 * END OF LIB/DOCS COMMON CSS *
 ******************************/

/* Header adjustments. */
h1, h2, h3, h4, h5, h6 {
  width: 100%;
  font-weight: normal;
  margin-top: 1.8rem;
  margin-bottom: 1.2rem;
}
h1 a:not(:hover),
h2 a:not(:hover),
h3 a:not(:hover),
h4 a:not(:hover),
h5 a:not(:hover),
h6 a:not(:hover) {
  color: #ddd;
}
html[data-bs-theme="dark"] h1 a:not(:hover),
html[data-bs-theme="dark"] h2 a:not(:hover),
html[data-bs-theme="dark"] h3 a:not(:hover),
html[data-bs-theme="dark"] h4 a:not(:hover),
html[data-bs-theme="dark"] h5 a:not(:hover),
html[data-bs-theme="dark"] h6 a:not(:hover) {
  color: #444;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none !important;
}

/* Navbar */
.navbar .navbar-toggler {
  margin: .2em 0;
  padding: .2em .3em;
  border: none;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  height: 1.1em;
  width: 1.1em;
}
.navbar .navbar-nav .nav-item .nav-link {
  padding: .45em .6em;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #262a2f;
}
.navbar .dropdown-menu a.dropdown-item {
  font-size: .9em;
  padding: .2em .8em;
}

/* Headers table. */
.headers-table {
  padding: .5em 1em;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: .3em;
  font-size: .9em;
}
html[data-bs-theme="dark"] .headers-table {
  background-color: #2b2b2b;
}
.headers-table:empty { display: none; }
.headers-table ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding-right: .6em;
}
.headers-table ul li { margin: .3em 0; }
.headers-table ul ul { padding-left: .8em; padding-right: 0; }
.headers-table > ul > li {
  font-weight: bold;
}

/* Style the github and mode component. */
#rrfGithubAndModeWrapper {
  height: 2.4em;
}
#rrfGithubComponent {
  display: inline-block;
  position: relative;
  top: .6em;
}
#rrfModeComponent .dropdown-toggle {
  float: right;
}
#rrfModeComponent .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
  top: 100%;
}
