<div class="dropdown float-end" id="rrfModeComponent">
  <button class="btn btn-dark dropdown-toggle rounded-0 bg-black" style="border-color: black" data-bs-toggle="dropdown"></button>
  <div class="rrf-mode dropdown-menu dropdown-menu-end py-0 rounded-0" style="font-size: .8em; min-width: 0">
    <button class="dropdown-item text-end" data-rrf-mode-value="system">
      System<i class="bi bi-circle-half ms-2"></i>
    </button>
    <button class="dropdown-item text-end" data-rrf-mode-value="light">
      Light<i class="bi bi-sun-fill ms-2"></i>
    </button>
    <button class="dropdown-item text-end" data-rrf-mode-value="dark">
      Dark<i class="bi bi-moon-stars-fill ms-2"></i>
    </button>
  </div>
</div>
